<%if user_signed_in? %>
	<h1> Bienvenido <%= current_user.email %></h1>
<%else%>
	<h1>ยก Bienvenido al blog !</h1>
<%end%>
<a class="center-xs"><img src="http://1.bp.blogspot.com/-Fz7Sy-0x2u8/U6oZ8KHwPXI/AAAAAAAAAHU/eViNfw0-92Y/s1600/New+Moon+Collage.png"/></a>
